:root {
  --um-content-max: 720px;
  --um-content-padding: 48px;
}

/* Universal editorial container */
.um-content {
  max-width: var(--um-content-max);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--um-content-padding);
  padding-right: var(--um-content-padding);
}

/* Heading vertical rhythm */
.um-heading-block {
  margin-top: 48px;
  margin-bottom: 32px;
}

